<div class="add-area">

  <button *ngIf="!addField" type="button" name="button" (click)="addFieldFunction(true)">Add Keg</button>

  <form class="" *ngIf="addField">
    <label>Enter Beer Name:<br><input #beerName type="text"></label><br>
    <label>Enter Beer Brand:<br><input #beerBrand type="text"></label><br>
    <label>Enter Alcohol by Volume:<br><input #abv type="number"></label><br>
    <label>Enter Pint Price:<br><input #price type="number"></label><br><br>
    <button (click)="submitForm(beerName.value, beerBrand.value, abv.value, price.value); beerName.value=''; beerBrand.value=''; abv.value=''; price.value=''; addFieldFunction(false)" type="button">Add Keg</button>
    <button (click)="addFieldFunction(false)" type="button" name="button">Cancel</button>
  </form>

</div>
